@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb:	175, 229, 251;
  --background-end-rgb:	175, 229, 251;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb:	175, 229, 251;
    --background-end-rgb: 175, 229, 251;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('https://next-ts-where-to-play.vercel.app/images/background.webp') no-repeat center center fixed;
  background-size: cover; 
  background-position: top;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
